<div id="sidebarContentContainer">
  <ul class="list-group">
    <li class="list-group-item" routerLink="/home">Home</li>
    <li class="list-group-item" routerLink="/dashboard">Dashboard</li>
    <li class="list-group-item list-group-item-secondary disabled">Manage</li>
    <li class="list-group-item list-group-item-secondary disabled">Reports</li>
    <li class="list-group-item list-group-item-warning" data-toggle="tooltip" data-placement="right" title="Form is not fully functional. For display purposes only." routerLink="/form">Form</li>
    <li class="list-group-item" routerLink="/users">Users</li>
  </ul>
</div>

